@model HomeModel

@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">@Model.nome, Bem vindo ao Site!</h1>
    <p>Aprendendo e desenvolvendo juntos, pois assim somos mais fortes.</p>
    <p>Mandaremos mais detalhes em seu e-mail cadastrado: @Model.email.</p>
</div>
