@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Página Restrita";
}

<div class="container mt-5 pt-5 mx-auto" style="width: 70%;">
<h1>Página Restrita!</h1>

<p>Você não tem permissão para acessar esta página. <a class="text-primary" asp-controller="Home" asp-action="Index" >Clique aqui</a> para retornar a página inicial.</p>

<p>Entre em contato com o administrador do site para saber mais.</p>

</div>