@{
    ViewData["Title"] = "Confirmação de exclusão";
}



<div class="text-center container-fluid">
    <h1 class="display-4">Deseja realmente excluir o contato?</h1>

    <a class="btn btn-primary btn-md btn-block" role="button">Sim, desejo excluir!</a>
    <a class="btn btn-danger btn-md btn-block" role="button" asp-controller="Contato" asp-action="Index">Cancelar, não desejo excluir!</a>

</div>





