@model ContatoModel
@{
    ViewData["Title"] = "Editar Contato";
}


<div class="container-fluid px-5">
    <h1 class="display-5 text-center">Editar Novo Contato</h1>

    <form asp-controller="Contato" asp-action="EditarConfirmacao" asp-route-id="@Model.id" method="post">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" asp-for=nome value="@Model.nome">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" asp-for="email" value="@Model.email">
        </div>
        <div class="mb-3">
            <label for="celular" class="form-label">Celular</label>
            <input type="text" class="form-control" id="celular" asp-for=celular value="@Model.celular">
        </div>
        <div class="my-4">
            <button type="submit" class="btn btn-primary btn-block my-2 ">Alterar</button>
            <a class="btn btn-success text-light btn-block my-2" role="button"  asp-controller="Contato" asp-action="Index">Lista de contatos</a>
        </div>
    </form>

</div>